/* ===== Container ===== */

:host {
  display: block;
}

.docs-container {
  max-width: 1000px;
  /* wider reading area */
  margin: auto;
  padding-bottom: 60px;
  line-height: 1.8;
  font-size: 18px;
  animation: fadeIn 0.25s ease-in;

  word-wrap: break-word;
  overflow-wrap: anywhere;
}

/* ===== Headings ===== */

.docs-container h1 {
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
}

.docs-container h2 {
  font-size: 30px;
  margin-top: 48px;
  margin-bottom: 14px;
  border-bottom: 1px solid #1e293b;
  padding-bottom: 8px;
}

.docs-container h3 {
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 10px;
}

/* ===== Paragraphs ===== */

.docs-container p {
  color: #cbd5e1;
  font-size: 18px;
  margin: 14px 0;
}

/* ===== Lists ===== */

.docs-container ul,
.docs-container ol {
  padding-left: 24px;
}

.docs-container li {
  margin: 6px 0;
}

/* ===== Links ===== */

.docs-container a {
  color: #60a5fa;
  text-decoration: none;
}

.docs-container a:hover {
  text-decoration: underline;
}

/* ===== Code Blocks ===== */

.docs-container pre {
  background: #020617;
  padding: 18px;
  border-radius: 12px;
  overflow-x: auto;
  border: 1px solid #1e293b;
  margin: 20px 0;
  max-width: 100%;
}

.docs-container code {
  color: #38bdf8;
  font-size: 16px;
}

/* inline code */
.docs-container p code,
.docs-container li code {
  background: #020617;
  padding: 2px 6px;
  border-radius: 6px;
}

/* ===== Images (future safe) ===== */

.docs-container img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

/* ===== Tables ===== */

.docs-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.docs-container th,
.docs-container td {
  border: 1px solid #1e293b;
  padding: 10px;
}

.docs-container th {
  background: #020617;
}

/* ===== Smooth Page Appearance ===== */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.docs-layout {
  display: flex;
  gap: 40px;
}

@media (max-width: 900px) {
  .docs-layout {
    flex-direction: column;
    gap: 0;
  }
}


/* right toc */

.toc {
  width: 220px;
  position: sticky;
  top: 40px;
  height: fit-content;
  font-size: 14px;
}

/* ===== MOBILE: hide right TOC ===== */
@media (max-width: 900px) {
  .toc {
    display: none;
  }
}


.toc h4 {
  color: #94a3b8;
  margin-bottom: 10px;
}

.toc a {
  display: block;
  color: #94a3b8;
  padding: 6px 0;
  cursor: pointer;
}

.toc a:hover {
  color: #60a5fa;
}

.toc a.active {
  color: #60a5fa;
  font-weight: 600;
  border-left: 2px solid #60a5fa;
  padding-left: 8px;
}

/* ===== MOBILE READING IMPROVEMENT ===== */
@media (max-width: 900px) {
  .docs-container {
    font-size: 17px;
    padding: 0 6px;
  }
}