<div class="login-container">

  <div class="login-card">

    <h2>
      Knowledge Hub Login
    </h2>

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <button
      (click)="login()"
      [disabled]="loading"
    >

      {{ loading ? 'Signing In...' : 'Login' }}

    </button>

    <p *ngIf="error" class="error">

      {{ error }}

    </p>

  </div>

</div>